.Button {
    color: #fff;
    padding: 0.6em 3em;
    font-size: 0.875rem;
    border-radius: 20px;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    background-color: #40719c;
    transition: all 0.1s ease-in;
}

.no-outline-on-focus {
    outline: none;
}

.Button > a {
    text-decoration: none;
    color: #fff;
}

.Button > a:hover {
    color: #fff;
}

.Button:hover {
    background-color: #6094c2;
}

.Button:active {
    background-color: #5b8ab3;
}

.Front {
    position: relative;
    z-index: 100;
}
