.NavBar {
    text-align: right;
    margin: 10px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    
}

.NavBar .icon {
    display: none;
}

.NavBar .pages {
    display: flex;
}

.NavBar .pages a, button {
    margin: 0 25px;
}

.NavBar a {
    color: #000;
    text-decoration:none;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: color;
    font-size: 16px;
    font-weight: 500;
}

.NavBar a:hover {
    color: #555;
}

.NavBar .child-links {
    display: none;
}

.NavBar button {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    font-weight: 300;
}

.NavBar .selected {
    font-weight: 800;
}

.NavBar .open {
    height: 0;
}

@media only screen and (max-width: 750px) {
    .NavBar .hamburger {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }

    .NavBar {
        display: flex;
        /* visibility: hidden; */
        justify-content: flex-end;
        flex-direction: row;
    }

    .NavBar .items {
        background: #8EACCD;
        top: 0;
        right: 0;
        height: 100%;
        width: 100vw;
        z-index: 500;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: flex-end;
        transform: translateX(100%);
        transition: all 1s;
    }

    .NavBar .pages {
        flex-direction: column;
        
    }

    .NavBar .close {
        display: block;
        color: white;
        font-size: 35px;
        cursor: pointer;
        padding: 5vh 10vw 0 0;
    }


    .NavBar button {
        font-size: 30px;
        /* border: 1px solid red; */
    }

    .NavBar .pages a, .NavBar .pages button {
        margin: 0;
        text-align: center;
        font-size: 30px;
        padding: 3vh 0;
        color: white;
        /* border: 1px solid red; */
        text-transform: uppercase;
        width: 100vw;
    }


    .NavBar .selected, .NavBar a:active, .NavBar button:active {
        background-color: #718aa6;
    }

    .NavBar .dropdown-menu {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .NavBar .dropdown-menu a {
        font-size: 30px;
        padding: 3vh 0;
    }

    .NavBar .child-links {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 0;
        overflow: hidden;
    }

    .NavBar .child-links a {
        background-color: #7892ad;
    }

    .NavBar .open {
        height: 100%;
    }
    .NavBar .child-links a {
        font-size: 25px;
        padding: 10px 0;
    }
}
