.GroupMember {
    box-shadow: -2px 2px 2px 2px #ccc;
    margin: 4% 2% 8% 4%;
    padding: 0.5% 5%;
    border-radius: 5px;
}

.BigName {
    font-weight: 400;
    font-family: sans-serif;
}

.SmallText {
    font-weight: 200;
}

.ButtonContainer {
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 40px;
    margin: 0;
}

.GroupButton {
    background-color: #40719c;
    margin-top: 100%;
    color: #fff;
    padding: 0.6em 0;
    border-radius: 20px;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 200;
    outline: none;
    transition: 0.4s;
    text-align: center;
}

.GroupButton:hover {
    background-color: #6094c2;
}

.MemberBox {
    background-color: #fff;
    height: 405px;
    padding: 2% 4%;
    border-radius: 5px;
    overflow: auto;
}

.GroupSideBar {
    height: 440px;
    background-color: #fff;
    border-radius: 5px;
    width: 20%;
    float: left;
    margin: 0 5% 0 0;
    padding: 2% 3% 4% 3%;
    overflow: auto;
    position: relative;
}