.GroupMember {
    box-shadow: -2px 2px 2px 2px #ccc;
    margin: 4% 2% 8% 4%;
    padding: 0.5% 5%;
    border-radius: 5px;
}

.BigName {
    font-weight: 400;
    font-family: sans-serif;
}

.SmallText {
    font-weight: 200;
}

.ButtonContainer {
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 40px;
    margin: 0;
}

.MemberBox {
    position: relative;
    height: 70%;
    overflow: auto;
}

.MemberContainer {
    padding: 2% 2%;
    margin-left: -20%;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    width: 70%;
    height: 405px;
    border-radius: 5px;
    float: right;
}

.GroupSideBar {
    height: 440px;
    background-color: #fff;
    border-radius: 5px;
    width: 20%;
    float: left;
    margin: 0 5% 0 0;
    padding: 2% 3% 4% 3%;
    overflow: auto;
    position: relative;
}

.NewMemberInput {
    margin: 0 5%;
    padding: 2%;
    border-radius: 5px;
    border-color: transparent;
    font-size: 1em;
    font-weight: 200;
    box-shadow: -1px 1px 2px 1px #ccc;
    outline: none;
    width: 90%;
}

@media only screen and (max-width: 900px) {
    .NewMemberInput {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 800px) {
    .NewMemberInput {
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 650px) {
    .NewMemberInput {
        position: relative;
        display: block;
        font-size: 1em;
        width: 70%;
        margin: 0.5em auto;
    }  

    .MemberContainer {
        height: 500px;
    }

    .GroupSideBar {
        width: 100%;
        height: 160px;
        padding: 6% 3% -6% 3%;
        margin-bottom: 5%;
    }

    .MemberContainer {
        width: 100%;
    }

    .ButtonContainer {
        width: 90%;
        box-sizing: border-box;
    }
}

.MemberButtonContainer {
    position: relative;
}

.NewMemberInput:focus {
    box-shadow: 0 0 10px #888;
    outline: none;
}

.ErrorMessage {
    color: #f00;
    font-weight: 200;
    font-size: 0.8em;
}

.MemberButtonColumn {
    box-sizing: border-box;
    width: 27%;
    display: block;
    text-align: center;
    margin: 2%;
}

.GroupsForm {
    box-sizing: border-box;
    position: relative;
    width: 27%;
    margin: 2%;
}
