.Record {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.RecordOverlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    border-radius: 10px;
    background-color: #444;
    z-index: 1001;
}

@media only screen and (max-width: 500px) {
    .RecordOverlay {
        width: 105vw !important;
    }
    
}
