.Record {
    text-align: center;
    position: relative;
}

.RecordOverlay {
    position: absolute;
    top: -50px;
    left: -50px;
    opacity: 0.5;
    border-radius: 10px;
    background-color: #444;
    z-index: 100;
}
