.RecordDot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #ff0000;
    display: inline-block;
    margin: 0 0.2em;
}

.Play {
    /* max-height: 95%; */
    max-width: 95%;
    margin: 10% 0 0 12%;
}

.Pause {
    /* max-height: 60%; */
    max-width: 60%;
    margin: 16% 0 0 2.5px;
}

.ButtonRow {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.ButtonRow .Button {
    height: 45px;
    max-width: 45px;
    border-radius: 0%;
    margin: 0 1em;
    z-index: 100;
    padding: 10px 16px;
    position: relative;
}

.RecordButton {
    border-radius: 100% !important;
    background-color: #40719c;
    transition: 0.2s;
    outline: none;
    z-index: 100;
}

.RecordButton:hover {
    background-color: #6094c2;
}

.Tooltip {
    font-weight: 200;
}

.RecordIcon {
    color: #fff;
}

.Stopwatch {
    z-index: 100;
}