.WelcomeBoard {
    text-align: left;
    /* top: 25%; */
    margin-top: 20%;
    /* position: absolute; */
    position: relative;
}

.WelcomeBoard > h1 p {
    margin: 20px;
    z-index: 5;
}

.pitch_progress {
    font-size: 3.5em;
    margin: 0;
}

.welcome_back {
    margin: 0;
}

#record-btn {
    margin-top: 30px;
}

.Front {
    position: relative;
    z-index: 100;
}