.WelcomeCounter {
    display: inline-block;
    margin: 0 3em 0 0;
    text-align: center;
}

.WelcomeCounter > h1 {
    margin: 0;
    font-size: 3em;
}

.WelcomeCounter > .name {
    margin: 0;
}

@media only screen and (max-width: 500px) {
    .WelcomeCounter {
        display: block;
        padding-left: 5%;
        text-align: left;
    }
}
