.LoginLowerBubble {
    position: absolute;
    top: 40%;
    left: 40%;
}

.LoginBoy {
    position: absolute;
    left: 30%;
    top: 50%;
}

.LoginGirl {
    position: absolute;
    right: 10%;
    top: 10%;
}

.LoginUpperBubble {
    position: absolute;
    top: -10%;
    right: 30%;
}

.LoginLines {
    position: absolute;
    left: -10%;
    top: 40%;
    z-index: 0;
}