.Practice {
    margin: 0 2% 4% 2%;
    padding: 0.5% 2%;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    font-weight: 200;
}

.PracticeCol {
    display: inline-block;
}

.PaddedPitch {
    padding: 2% 0 !important;
    float: none !important;
    font-weight: 600;
}

.PaddedDate {
    padding: 0 3% !important;
}