.Container {
    width: 100%;
}

.Date {
    width: 35%;
    padding: 0 0 0 6%;
    text-align: left;
}

.Filter {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 3%;
    color: #999;
    font-weight: 200;
}

.FilterIcon {
    width: 10%;
}

.FilterName {
    width: 90%;
}

.FilterOption {
    padding: 5%;
}

.FilterSubOption {
    padding: 5% 12%;
    font-size: 80%;
}

.HeaderRow {
    padding: 0;
}

.HeaderColumn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8em;
    box-sizing: border-box;
}

.Icon {
    color: #666;
}

.Inline {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

.InstrTitle {
    font-weight: 600;
    display: inline-block;
    margin-right: 1.5%;
    margin-left: 2%;
}

.Instrument {
    width: 25%;
    padding: 0 1%;
    text-align: left;
}

.Length {
    width: 20%;
    padding: 0 1%;
    text-align: left;
}

.Pitch {
    width: 20%;
    padding: 1% 8% 0 0;
    text-align: right;
}

.PracticeBar {
    margin: 0 auto;
    width: 70%;
    text-align: left;
}

.PracticeBox {
    height: 240px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 2% 4% 2% 1%;
}

.PracticeContainer {
    position: relative;
}

.PracticeHeader {
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 3% 4% 0 1%;
}

.PracticeOverlay {
    position: absolute;
    opacity: 0.5;
    /*width: 95%;*/
    /*height: 310px;*/
    border-radius: 10px;
    background-color: #444;
    z-index: 10;
}

.Slider {
    min-width: 16%;
    max-height: 300px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    z-index: 100;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.SlideOut {
    max-height: 0;
    margin-bottom: 0;
}