.Padding {
    display: block;
    height: 9em;
}

.ProfileSidebar {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.SidebarLink {
    text-align: center;
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0.5em 0.8em;
    padding: 0 3em;
    line-height: 2.5em;
    border-radius: 10px;
    transition: 0.2s;
}

.NormalText {
    color: #000 !important;
}

.HoverText, .SelectedText {
    color: #fff !important;
}