.ProgressGraph {
    margin: 5% 0;
    height: 90%;
    margin-top: 5%;
}

.ProgressGraph .graph-button {
    border: none;
    
}

.ProgressGraph .graph-button .btn-content {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}


.ProgressGraph .graph-button:focus, .ProgressGraph .btn-content:focus {
    outline: none;
}

.graph-button:focus > .btn-content {
    outline: 1px solid black;
}
.ProgressGraph .title-bar {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.ProgressGraph h3 {
    margin: 0;
    font-weight: 500;
    padding-right: 20px;
}

.ProgressGraph .title-bar h4 {
    margin: 0;
}

.ProgressGraph .dates {
    display: flex;
}

.ProgressGraph .dates button {
    border: none;
    background: #ffffff;
    font-size: 20px;
    outline: none;
}

.date-string {
    padding-top: 5px;
    min-width: 150px;
    text-align: center;
    font-weight: 400;
}

.ProgressGraph .row {
    display: flex;
}

.ProgressGraph .graph-bar {
    display: flex;
}

@media only screen and (max-width: 750px) {
    .ProgressGraph .title-bar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .ProgressGraph .title-bar h3 {
        display: flex;
        width: 100%;
    }

    .ProgressGraph .title-bar .row {
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }

    .ProgressGraph .title-bar .row .graph-button {
        background-color: white;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 5px;
    }

    .ProgressGraph .title-bar .row .graph-button .btn-content {
        font-size: 1.5em;
    }


    .ProgressGraph .graph {
        width: 110%;
        margin-left: -10%;
    }

    .ProgressGraph .dates button{
        margin: 0 5px;
    }

    .ProgressGraph .dates {
        display: flex;
        justify-content: center;
    }
}

