.Settings {
    background-color: #FFF;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 90%;
    /* border: 1px solid red; */
}

.Settings label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
}

.Settings .normal-input {
    border: none;
}

.Settings .normal-input:disabled {
    background-color: rgb(238, 238, 238);
    color: slategray;
}

.Settings input {
    width: 292px;
    max-height: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    
    font-size: 16px;
    padding: 8px;
}



.Settings .row {
    display: flex;
    align-items: center;
}

.Settings .pitch.row {
    /* border: 1px solid red; */
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.Settings .input-error-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 120px; */
    padding: 10px;
}

.Settings .input-error-msg input {
    /* margin-top: 40px; */
}

.Settings .pitch input {
    width: 100px;
}

.Settings .name input{
    width: 130px;
    margin: 0 5px;
}

.Settings .name-error {
    margin-left: 20%;
}

.Settings .settings-btn {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.invalid-input {
    border: 1px solid red;
    color: red;
    background-color: #ffcfcf;
}

.error {
    margin: 5px 0 0 0;
    /* visibility: hidden; */
    color: red;
    font-size: 12px;
    
    text-align: left;
}

.hidden {
    
    display: none;
}

#pitches-error {
    margin: 10px 0 0 0;
    /* border: 1px solid red; */
}

@media only screen and (max-width: 700px) {
    .Settings {
        width: 100%;
    }

    .Settings .name.row {
        display: flex;
        flex-direction: column;
    }

    .Settings .name input{
        width: 292px;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 400px) {
    .Settings .name input{
        width: 60vw;
        margin: 10px 0;
    }
    
    .Settings input{
        width: 60vw;
        margin: 10px 0;
    }
}