.Center {
    text-align: center;
}

.GreyBackground {
    /* background-color: #eee; */
    width: 100%;
}

.InstrumentLine {
    font-weight: 200;
}

.NoProPic {
    background-color: #ddd;
}

.ProfilePicture {
    margin: 0 auto;
    margin-top: 5%;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.SmallSpacer {
    height: 10px;
    margin: 0;
}

.Spacer {
	height: 40px;
}

.UserProfileSpacer {
    height: 40px;
}